 /* *{
    border: 1px solid red !important;
    ini untuk debuging
}  */


html{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* bagian navigation bar */

header{
    background-color: #F6EBDA;

}

nav{
    width: auto;
    justify-content: center;
    align-items: center;
}

.navigationUtama{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 85% ;
    margin-left: 80px;
}

.navigationLogo{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gambarLogo{

}

.firstNameLogo{
    color: #FF902A;
    font-weight: 700;
    font-size: 23px;
}

.lastNameLogo{
    color: #2F2105; 
    font-weight: 700;
    text-transform: capitalize;
    font-size: 23px;
}

.navigationList{
 justify-content: center;
 align-items: center;
}

.navigationUl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

.navigationLi{
    list-style: none;
    justify-content: center;
    align-items: center;

}

.navigationLi > a {
    text-decoration: none;
    color: #2F2105;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}

.navigationLi > a:hover {
    text-decoration: none;
    color: #77726a;
    transition-delay: 2ms;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
}

.navigationLi > a span {
    text-decoration: none;
    color: #FF902A;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}

.navigationLi > a span:hover {
    text-decoration: none;
    color: #ffc897;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
    transition-delay: 2ms;
}


.navigationSearch{

}

/* bagian content */

.containerUtama{
    background-color: #F6EBDA;
    /* #F9D9AA; */
    width: 100%;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 175px;
    width: 100%;



}



.text-content {
    height: 80vh;
    width: 65%;
}
.text-content h1 {
    padding-top: 105px;
    font-size: 3em;
    color:#2F2105;
    margin: 0;
}
.text-content h1 span {
    color: #ff8c42;
}
.text-content p {
    color: #666;
    font-size: 1.2em;
    margin: 20px 0;
}
.buttons {
    display: flex;
    align-items: center;
}
.buttons a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.buttons a i {
    margin-left: 10px;
}
.buttons a.more-menu {
    background-color: transparent;
    color: #ff8c42;
}
.image-content {
    position: relative;
}
.image-content img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.deliveryUtama{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.deliveryHead h3{
    margin: 10px;
    color: #2F2105;
    font:600;
    padding-left: 80px;
}


.deliveryHead h3 span{
    text-decoration: underline solid #ff8c42;
}

.metode{
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.metode h6{
    justify-content: center;
    align-items: center;
}

.metode h6 p{
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.deliveryList{
    display: flex;
    width: 100%;
    height: auto;
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.coffee-beans {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}
.coffee-beans img {
    width: 30px;
    height: 30px;
}

.label {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    box-shadow: -1px 1px 5px 7px rgba(237,237,237,1);
}

.label.cappuccino {
    top: 10%;
    left: -10%;
}

.label.rating {
    top: 10%;
    right: -10%;
    display: flex;
    align-items: center;
}
.label.likes {
    bottom: 10%;
    left: -10%;
}

.label.rating i {
    color: #ff8c42;
    margin-left: 0.5rem;
}
/* bagian content */

.about{
    width: auto;
    background-color: #F6EBDA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 200px;
    position: relative;
}
.imageAbout{
    width:30%;
    height: auto;
    background-color: #ffff;
    padding:8px 8px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    margin-top:-3.5em;
}
.imageAbout img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    
}
.textAbout{
    width:40%;
    color: #333;
    font-size: 1.2em;
    
}
.textAbout span{
    border-bottom: 2px solid #ff8c42;
}
.textAbout h3{
    font-size: 2em;
    font-weight: bold;
}
.textAbout h4{
    font-size: 1.2em;
    font-weight: bold;
}

.textAbout > button{
    font-weight: bold;
    background: none;
    border: none;
    background-color: #333;
    padding: 12px 20px;
    border-radius: 30px;
    margin-top: 10px;
}
.textAbout > button a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.icons {
    backgrond-color:green ;
    width: 55%;
    position: absolute;
    top:0;
    right:0;
    padding-right: 8%;
    opacity:0.4;
}
.icons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.icons ul li:nth-child(2) img{
    backgroud-color:blue;
    margin-top:1em;
    opcity:0.5;
    margin-left:10em;
    width: 50%; height: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.icons ul li:nth-child(3) img{
    backgrond-color:blue;
    margin-top:18em;
    widh: 8em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.icons img{
    width: 5em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

