 /* *{
    border: 1px solid red !important;
    ini untuk debuging
}  */


html{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
}

/* bagian navigation bar */

header{
    background-color: #F6EBDA;

}

nav{
    width: auto;
    justify-content: center;
    align-items: center;
}

.navigationUtama{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 80% auto;
}

.navigationLogo{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gambarLogo{

}

.firstNameLogo{

}

.navigationList{
    
}

.navigationUl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navigationLi{
    list-style: none;

}

.navigationLi > a {

}

.navigationSearch{

}

/* bagian content */

.containerUtama{
    background-color: #F6EBDA;
    width: 100%;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 175px;
    width: 60% auto;
    gap: 10px;


}



.text-content {
    height: 80vh;
}
.text-content h1 {
    padding-top: 105px;
    font-size: 3em;
    color: #333;
    margin: 0;
}
.text-content h1 span {
    color: #ff8c42;
}
.text-content p {
    color: #666;
    font-size: 1.2em;
    margin: 20px 0;
}
.buttons {
    display: flex;
    align-items: center;
}
.buttons a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.buttons a i {
    margin-left: 10px;
}
.buttons a.more-menu {
    background-color: transparent;
    color: #ff8c42;
}
.image-content {
    position: relative;
}
.image-content img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.deliveryUtama{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.deliveryHead h3{
    color:#666;
}


.deliveryHead h3 span{
    text-decoration: underline solid palevioletred;
}



.deliveryList{
    display: flex;
    width: 100%;
    height: auto;
    gap: 90px;
    font-family:'poppins';
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* bagian content */

.about{
    width: auto;
    background-color: #F6EBDA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 200px;
    position: relative;
}
.imageAbout{
    width:30%;
    height: auto;
    background-color: #ffff;
    padding:8px 8px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    margin-top:-3.5em;
}
.imageAbout img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    
}
.textAbout{
    width:40%;
    color: #333;
    font-size: 1.2em;
    
}
.textAbout span{
    border-bottom: 2px solid #ff8c42;
}
.textAbout h3{
    font-size: 2em;
    font-weight: bold;
}
.textAbout h4{
    font-size: 1.2em;
    font-weight: bold;
}

.textAbout > button{
    font-weight: bold;
    background: none;
    border: none;
    background-color: #333;
    padding: 12px 20px;
    border-radius: 30px;
    margin-top: 10px;
}
.textAbout > button a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.icons {
    backgrond-color:green ;
    width: 55%;
    position: absolute;
    top:0;
    right:0;
    padding-right: 8%;
    opacity:0.4;
}
.icons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.icons ul li:nth-child(2) img{
    backgroud-color:blue;
    margin-top:1em;
    opcity:0.5;
    margin-left:10em;
    width: 50%; height: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.icons ul li:nth-child(3) img{
    backgrond-color:blue;
    margin-top:18em;
    widh: 8em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.icons img{
    width: 5em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
